node_modules/
.idea

packages/auth/node_modules/
packages/auth/.idea
packages/auth/dist/
packages/auth/.env
packages/auth/documentation


packages/projects/node_modules/
packages/projects/dist/
packages/projects/.env
packages/projects/documentation

packages/employees/node_modules/
packages/employees/dist/
packages/employees/.env
packages/employees/documentation

packages/gateway/node_modules/
packages/gateway/.idea
packages/gateway/dist/
packages/gateway/.env

